body {
  min-width: 250px;
  width: 50%;
  text-align: left;
  line-height: 1.4em; 
  margin:-30px auto -30px 15%;
  background-color:#dfdbd3;
  color: #525252;
  padding:30px 0;
  font-family: sans-serif;
  box-shadow: 10px 0 5px 0px rgba(178,172,159,0.3);
}
body>div {
  padding: 0 30px;
  background-color:#fff;
  display:table;
  width:100%;
}
a {
  color:#B4D044;
}
pre code {
  display:table;
  padding:15px;
  background-color:#000;
  color:#fff;
}
#site-header-sep {
  display:none;
}
#site-contents {
  position:relative;
}
#site-contents>ol[style="list-style: none;"] {
  position: absolute;
  top: 0;
  left: 100%;
  width:30%;
  margin: 0;
  padding: 20px 30px 20px 0;
  background-color: #b2ac9f;
}
#site-contents>ol[style="list-style: none;"]>li {
  margin-bottom:15px;
}
#site-contents>ol[style="list-style: none;"]>li a {
  display:block;
  text-decoration:none;
}
#site-contents>ol[style="list-style: none;"]>li>a {
  background-color: #4d4d4d;
  color: #fff;
  padding: 5px 15px;
  text-transform: uppercase;
}
#site-contents>ol[style="list-style: none;"]>li>ol {
  margin: 10px 0 10px 15px;
  padding: 0;
}
#site-contents>ol[style="list-style: none;"]>li>ol a {
  color: #4d4d4d;
  padding: 8px 0 3px;
  border-bottom:1px solid #fff;
}
