body {
  min-width: 250px;
  width: 50%;
  max-width: 45em;
  text-align: left;
  line-height: 1.4em; 
  margin:-30px auto -30px 15%;
  background-color:#2c2820;
  color: #adadad;
  padding:30px 60px 0 0;
  font-family: sans-serif;
  box-shadow: 10px 0 5px 0 rgba(159,165,178,0.3);
}
body>div{
  background-color:#000;
  display:table;
  width:100%;
  padding:0 30px 0 30px;
}
a{
  color:#9eba2f;
}
pre code{
  display:table;
  padding:15px;
  background-color:#000;
  color:#fff;
  border:1px solid #9eba2f;
}
#site-header-sep{
  display:none;
}
#site-contents {
  position:relative;
}
#site-contents>ol.toc{
  top: 0;
  left: 100%;
  width:26%;
  position: absolute;
  background-color: #605a4d;
}
#site-contents>ol.toc {
  padding: 20px 30px 20px 0;
  display:table;
  margin: 0;
}
#site-contents>ol.toc > li {
  margin-bottom:15px;
}
#site-contents>ol.toc > li a{
  display:block;
  text-decoration:none;
}
#site-contents>ol.toc > li > a {
  background-color: #b2b2b2;
  color: #000;
  padding: 5px 15px;
  text-transform: uppercase;
}
#site-contents>ol.toc > li > ol {
  margin: 10px 0 10px 15px;
  padding: 0;
}
#site-contents>ol.toc > li > ol a{
  color: #b2b2b2;
  font-width: bold;
  padding: 8px 0 3px;
  border-bottom:1px solid #000;
}
